* {
  margin: 0;
  padding: 0;
  font-family: Consolas, sans-serif;
  word-wrap: break-word;
}
#title {
  text-align: center;
}

body {
  background-color: gray;
}

.panel-title {
  background-color: rgb(180, 99, 224);
}

.topic-title {
  background-color: rgb(227, 178, 86);
}
.invalid {
  background-color: rgb(230, 76, 81);
  text-align: center;
}

.valid {
  background-color: rgb(76, 230, 81);
  text-align:center;
}

.explanation {
  background-color: rgb(127, 164, 227);
}